/* styles/performance/content-visibility.css */
.visibility-auto {
  content-visibility: auto;
}

.visibility-hidden {
  content-visibility: hidden;
}

.contain-strict {
  contain-intrinsic-size: auto 500px;
}